.download {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  gap: 4px;
  color: #4A5360;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-align: left;
}

.download:hover {
  background-color: transparent;
  color: black;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: #4A5360;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  background: transparent;
  padding: 4px 8px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  color-scheme: dark;
}

.input[type="datetime-local"]::-webkit-inner-spin-button,
.input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: black;
  margin-left: 8px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 