.navbarParent {
  display: flex;
  justify-content: space-between;

  color: var(--gray-700);

  background-color: #ffffff;
  border-radius: 15px;

  box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10.500000953674316px);

  padding: 11px 24px;

  max-width: 1244px;
  margin: 0 auto;
}

.logoContainer {
  max-width: 108px;
  height: 100%;
}

.menuOptions {
  display: flex;
  gap: 20px;

  justify-content: space-between;
  align-items: center;
}

.docButton {
  background: linear-gradient(82deg, #313860 2.25%, #151928 79.87%);
  color: #ffffff;

  border-radius: 15px;
  padding: 15px 45px;

  width: auto;
  height: auto;
}

.docButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .navbarParent {
    width: 90vw;
    margin: 0 auto;
  }
}
