.root {
  border-radius: 12px;
  background: #fff;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.title {
  color: #3d4551;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 47px;
}

@media screen and (max-width: 700px) {
  .root {
    max-width: none;
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
  }
}
