.searchOutterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchInnerContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 17px 28px;
  border-radius: 15px;
}

.searchbar {
  background-color: #fff;
  color: var(--gray-700);
  border: none;
}

.searchbar:focus {
  outline: none;
}

.searchbar:focus::placeholder {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .searchInnerContainer {
    width: 90vw;
    margin: 0 auto;
  }
  
  .searchbar {
    width: 100%;
  }
}
