name: Docker Multi Platform Builds

on:
  push:
    branches:
      - 'main'
      - 'develop'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'
      - 'develop'
jobs:
  build-node:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_TOKEN }}

      - name: Set Docker metadata
        id: ocean_node_meta
        uses: docker/metadata-action@v3
        with:
          images: |
            oceanprotocol/ocean-node
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=ref,event=pr
          # type=semver,pattern={{major}}.{{minor}}
          # type=semver,pattern={{major}}
          # type=sha
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          push: true
          tags: ${{ steps.ocean_node.outputs.tags }}
          labels: ${{ steps.ocean_node.outputs.labels }}
